[Unit]
Description=Disable Policy Based Routing - {{ item.key }}

[Service]
Type=oneshot
ExecStart=/bin/bash -c "sysctl -w net.ipv4.conf.{{ item.key  }}.disable_policy=1"

[Install]
WantedBy=sys-subsystem-net-devices-{{ item.key }}.device